# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Airflow
airflow/logs/
airflow/airflow.db

# PostgreSQL
postgres_data/

# Environment
.env

# VS Code
.vscode/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep